In [37]:
import snscrape.modules.twitter as sntwitter
import pandas as pd


#specify the number of tweets you want 
maxTweets = 10000

# Creating list to append tweet data to
tweets_list2 = []
batch = 500

In [38]:
# Using TwitterSearchScraper to scrape data and append tweets to list

# set lang:ne to retrieve tweets in Nepali
#set the date parameter using since and until
until = '04-30'
file_save_path = "Collected/Nepali-Tweets-{}.csv".format(until)

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('lang:ne since:2015-04-25 until:2015-{}'.format(until)).get_items()):
    if i>maxTweets:
        break
    
    if i%batch == 0:
        print("saving the batch of batch",i/batch)
        tweets_df2 = pd.DataFrame(tweets_list2, columns=['Date', 'Text'])

        tweets_df2['Date'] = pd.to_datetime(tweets_df2['Date']).dt.date
        tweets_df2.to_csv(file_save_path,index=False)
        
    tweets_list2.append([tweet.date, tweet.rawContent])

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Date', 'Text'])

tweets_df2['Date'] = pd.to_datetime(tweets_df2['Date']).dt.date
#save the tweets to a csv file 
tweets_df2.to_csv(file_save_path,index=False)

saving the batch of batch 0.0
saving the batch of batch 1.0
saving the batch of batch 2.0
saving the batch of batch 3.0
saving the batch of batch 4.0
saving the batch of batch 5.0
saving the batch of batch 6.0
saving the batch of batch 7.0
saving the batch of batch 8.0
saving the batch of batch 9.0
saving the batch of batch 10.0
saving the batch of batch 11.0
saving the batch of batch 12.0
saving the batch of batch 13.0
saving the batch of batch 14.0

Stopping after 20 empty pages

In [39]:
tweets_df2.shape

(7313, 2)

In [40]:
tweets_df2

            Date                                               Text
0     2015-04-29  ७० घण्टापछि जब\nभग्नावशेषभित्रबाट कसैले भन्यो,...
1     2015-04-29  सबै मा परिबर्तन देख्दै छु बाँस तिम्रो चरित्र म...
2     2015-04-29  यि खगेन्द्र संग्रौला र युग पाठक जस्ता समाजमा स...
3     2015-04-29  धरहराको टुप्पाबाट खसेंर बाँच्‍न सफल  बबिता सेढ...
4     2015-04-29  @Pratapnarayan4 यहाँ अाफु भनेको सबैलाई भनेको ह...
...          ...                                                ...
7308  2015-04-29  महाभुकम्पले ल्याएको महाबिपत्तिमा पनि कालोबजारी...
7309  2015-04-29  मुस्ताङमा पच्चीस घर ध्वस्त, एकसय ३९ घरमा क्षति...
7310  2015-04-29  काठमांडूमा फेरी 4.4 magnitude तीब्रता को  भुईच...
7311  2015-04-29  एमालेले राहत र उद्वारका लागि देशव्यापी कार्यकर...
7312  2015-04-29                 दोलखा मा फेरी पहाडै खस्यो रे .. उफ़

[7313 rows x 2 columns]